<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>bonafide certificate</title>
    <link rel="stylesheet" href="/css/bc.css" />
    <link rel="stylesheet" href="/css/global.css" />
  </head>

  <body>
    <div id="container">
      <div class=>
        <nav>
          <p>NATIONAL INSTITUTE OF TECHNOLOGY KURUKSHETRA</p>
        </nav>
        <form class="form" action="/helpdesk/hfytc/bonafide" method="POST">
          <h2>BONAFIDE CERTIFICATE FORM</h2>
          <p>
            (Through Head of the Department/Respective Warden of Hostel/T&P Cell
            etc.)
          </p>
          <p>
            The Deputy Register(Academic)<br />
            National Institute of Technology Kurukshetra<br />
            Subject:<b style="margin-left: 6px"
              >Request to issue the Bonafide certificate</b
            ><br />
            Sir,<br />Kindly arrange to issue the bonafide certificate for the
            purpose of
          </p>
          <div class="issue">
            <div class="input">
              <label for="issue">Issue</label>
              <input
                type="text"
                name="issue"
                id="issue"
                placeholder="Type your issue here"
              />
            </div>
          </div>

          <h3>PARTICULARS OF THE STUDENT</h3>

          <div class="input">
            <label for="roll no">Roll No</label>
            <input
              type="number"
              name="rollno"
              id="roll no"
              placeholder="Enter Your Roll No"
            />
          </div>

          <div class="input">
            <label for="email">E-mail</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Enter Your E-mail"
            />
          </div>

          <p>
            Thanking You<br />
            Yours faithfully,<br />
          </p>
          <div class="input">
            <label for="sign">Upload Signature of the Student</label>
            <input type="file" name="sign" id="sign" /><br />
          </div>
          <p><b>Bonafide Certificate=NIL(Rs.0)</b></p>
          <div class="input">
            <label for="id">Upload ID Card</label>
            <input type="file" name="idcard" id="id" /><br />
          </div>
          <div class="input">
            <label for="date">Date</label>
            <input type="date" name="date" id="date" /><br />
          </div>
          <div class="checkbox-container">
            <input
              type="checkbox"
              name="info is correct"
              id="correct"
              required
            />
            <label for="correct"
              >I hereby declare that all the above particulars filled by me are
              correct and that in case of any discrepancy found therein
              subsequently at any stage, i shall be responsible for the
              consequences out from there.</label
            ><br />
          </div>
          <div class="form-buttons">
            <button type="button" onclick="window.history.back();">Back</button>
            <button type="reset">reset</button>
            <button type="submit">submit</button><br />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
