<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>bonafide certificate</title>
    <link rel="stylesheet" href="/css/bc.css" />
  </head>

  <body>
    <div id="container">
      <div class="card">
        <form class="form" action="/helpdesk/hfytc/bonafide" method="POST">
          <h1>NATIONAL INSTITUTE OF TECHNOLOGY KURUKSHETRA</h1>
          <h2>BONAFIDE CERTIFICATE FORM</h2>
          <hr />
          <p>
            (Through Head of the Department/Respective Warden of Hostel/T&P Cell
            etc.)
          </p>
          <p>
            The Deputy Register(Academic)<br />
            National Institute of Technology Kurukshetra<br />
            Subject:<b>Request to issue the Bonafide certificate</b><br />
            Sir,<br />Kindly arrange to issue the bonafide certificate for the
            purpose of
          </p>
          <div class="issue">
            <label for="issue">Issue</label>
            <input
              type="text"
              name="issue"
              id="issue"
              placeholder="Type your issue here"
            />
          </div>

          <h3>PARTICULARS OF THE STUDENT</h3>

          <label for="roll no">Roll No</label>
          <input
            type="number"
            name="rollno"
            id="roll no"
            placeholder="Enter Your Roll No"
          /><br />

          <label for="email">E-mail</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter Your E-mail"
          /><br />

          <p>
            Thanking You<br />
            Yours faithfully,<br />
          </p>
          <label for="sign">Upload Signature of the Student</label>
          <input type="file" name="sign" id="sign" /><br />
          <p><b>Bonafide Certificate=NIL(Rs.0)</b></p>
          <label for="id">Upload ID Card</label>
          <input type="file" name="idcard" id="id" /><br />
          <label for="date">Date</label>
          <input type="date" name="date" id="date" /><br />
          <div class="checkbox-container">
            <input
              type="checkbox"
              name="info is correct"
              id="correct"
              required
            />
            <label for="correct"
              >I hereby declare that all the above particulars filled by me are
              correct and that in case of any discrepancy found therein
              subsequently at any stage, i shall be responsible for the
              consequences out from there.</label
            ><br />
          </div>
          <div class="form-buttons">
            <button type="button">
              <a href="/helpdesk/djfn/helpdesk.ejs">Back</a>
            </button>
            <button type="reset">reset</button>
            <button type="submit">submit</button><br />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
