<!DOCTYPE html>
<html>
  <head>
    <title>Card Example</title>
  </head>
  <body>
    <div class="card">
      <h3>Character</h3>
      <div class="card-info">
        <span>Roll No:</span><%- request.rollno %><br />
        <span>Issue:</span><%- request.issue %><br />
        <span>Email:</span><%- request.email %><br />
        <span>Date:</span><%- request.date %>
      </div>
    </div>
  </body>
</html>
