<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>exam notifications</title>
    <link rel="stylesheet" href="/css/global.css" />
  </head>

  <body>
    <nav>
      <img
        src="../assets/kkrlogo.png"
        width="100px"
        height="100px"
        alt="logo"
        style="margin-right: 10px"
      />
      <p>NATIONAL INSTITUTE OF TECHNOLOGY, KURUKSHETRA</p>
    </nav>
    <div class="notification-container">
        <h2>Exam Notifications</h2>
      <!-- <div class="notification-card">
        <span>May 12, 2023</span>
        <a href="https://nitkkr.ac.in/?p=30482" target="_blank"
          >Re-Appear Cut List of PG External Examination (May-June, 2023
          Phase-III)</a
        >
      </div> -->
      <div class="notification-card">
        <span>May 10, 2023</span>
        <a href="https://nitkkr.ac.in/?p=30438" target="_blank"
          >
          Detained List of Practical End Semester Examinations for MayJune-2023 Examination Sessiona
        >
      </div>
      <div class="notification-card">
        <span>May 8, 2023</span>
        <a href="https://nitkkr.ac.in/?p=30374" target="_blank"
          >Revised Date sheet for M.Tech End semester examination may & june 2023</a
        >
      </div>
      <div class="notification-card">
        <span>May 8, 2023</span>
        <a href="https://nitkkr.ac.in/?p=30382" target="_blank"
          >Schedule for End Sem Exam (Theory & Practical) for M.Tech (CO & CS) & PhD Course Work for May/June 2023</a
        >
      </div>
      <div class="notification-card">
        <span>May 7, 2023</span>
        <a href="https://nitkkr.ac.in/?p=30371" target="_blank"
          >Schedule of MBA 2nd & 4th Semester End Term Examination (Regular)</a
        >
      </div>
    </div>
  </body>
</html>
