<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exam notifications</title>
</head>

<body>
    <eh1>Exam notifications</eh1>
    <button type="reset">reset</button><br>
    <input type="radio" name="choice" id="yes" value="yes">
    <label for="yes">yes</label>
    <input type="radio" name="choice" id="no" value="no">
    <label for="no">no</label><br>
    <label for="branch">select your branch</label>
    <select name="branch" id="branch">
        <option value=" ">select your branch</option>
        <option value="ece">ece</option>
        <option value="cs">cs</option>
        <option value="mechanical">mechanical</option>
        <option value="civil">civil</option>
    </select><br>
    <label for="remarks">Remarks</label><br>
    <textarea id="remarks" rows="10" cols="20" name="remarks" placeholder="type your remarks"></textarea>

</body>

</html>