
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>cutlist for students</title>
    <link rel="stylesheet" href="/css/global.css" />
  </head>

  <body>
    <nav>
      <img
        src="/assets/kkrlogo.png"
        width="100px"
        height="100px"
        alt="logo"
        style="margin-right: 10px"
      />
      <p>NATIONAL INSTITUTE OF TECHNOLOGY, KURUKSHETRA</p>
    </nav>
    <div class="notification-container">
        <h2>Exam cutlists</h2>
      <div class="notification-card">
        <span>May 12, 2023</span>
        <a href="https://nitkkr.ac.in/?p=30482" target="_blank"
          >Re-Appear Cut List of PG External Examination (May-June, 2023
          Phase-III)</a
        >
      </div>
      <div class="notification-card">
        <span>May 9, 2023</span>
        <a href="https://nitkkr.ac.in/?p=30425" target="_blank"
          >
          Supplementary Provisional Reappear cut list of Internal & External Re-Appear Examinations (MayJune 2023) [Phase-IX]        >
      </div>
      <div class="notification-card">
        <span>May 5, 2023</span>
        <a href="https://nitkkr.ac.in/?p=30293" target="_blank"
          >Supplementary Provisional Reappear cut list of Internal  & External Re-Appear Examinations (MayJune 2023) [Phase-VIII]</a
        >
      </div>
      <div class="notification-card">
        <span>April 26, 2023</span>
        <a href="https://nitkkr.ac.in/?p=30208" target="_blank"
          >Re-Appear Cut List of PG External Examination (May-June, 2023 Phase-II)</a
        >
      </div>
      <!-- <div class="notification-card">
        <span>May 12, 2023</span>
        <a href="" target="_blank"
          >Re-Appear Cut List of PG External Examination (May-June, 2023
          Phase-III)</a
        >
      </div> -->
    </div>
  </body>
</html>
