<!DOCTYPE html>
<html>
  <head>
    <title>Card Example</title>
  </head>
  <body>
    <% console.log({request}) %>
    <div class="card">
      <h3>Fee_Related_Issue</h3>
      <div class="card-info">
        <span>Roll No:<%- request.rollno %></span><br />
        <span>Issue:<%- request.issue %></span><br />
        <span>Email:<%- request.email %></span><br />
      </div>
    </div>
  </body>
</html>
