<!DOCTYPE html>
<html>
  <head>
    <title>Nit Kurukshetra-Student Help Desk</title>
    <link rel="stylesheet" href="/css/hd.css" />
    <link rel="stylesheet" href="/css/global.css" />
  </head>

  <body>
    <main>
      <nav>
        <p>NIT KURUKSHETRA</p>
      </nav>
      <!-- <hr /> -->
      <!--hey i"m gonna make the students help desk whohoooo-->
      <div class="flex-container">
        <section>
          <h2>STUDENTS HELP DESK</h2>
          <ul>
            <li><a href="/helpdesk/djfn/reappear">Reappear forms</a></li>
            <li>
              <a href="/helpdesk/djfn/bonafide">bonafide certificates</a>
            </li>
            <li>
              <a href="/helpdesk/djfn/character">character certificate</a>
            </li>
            <li>
              <a href="/helpdesk/djfn/migration">migration certificate</a>
            </li>
            <li>
              <a href="/helpdesk/djfn/idcard"
                >id card (enclose affidivate + FIR for loss)</a
              >
            </li>
            <li><a href="/helpdesk/djfn/transcript">transcript</a></li>
            <li>
              <a href="/helpdesk/djfn/dmc"
                >DMC (enclose affidivate+FIR for loss)</a
              >
            </li>
            <li><a href="/helpdesk/djfn/degree">Degree Cerificate</a></li>
          </ul>
        </section>
        <section>
          <h2>SCHOLARSHIP SECTION</h2>
          <ul>
            <li>
              <a href="scholarship.html">queries related to scholarship</a>
            </li>
          </ul>
        </section>
        <section>
          <h2>ACCOUNT SECTION</h2>
          <ul>
            <li><a href="fee related issues.html">fee related issues</a></li>
            <li>
              <a href="fee payment verification.html"
                >fee payment verification</a
              >
            </li>
          </ul>
        </section>
        <section>
          <h2>EXAM SECTION</h2>
          <ul>
            <li>
              <a href="exam notifications.html">exam related notifications</a>
            </li>
            <li><a href="exam cutlist.html">cutlist for student exams</a></li>
          </ul>
        </section>
      </div>
    </main>
  </body>
</html>
