<!DOCTYPE html>
<html>
  <head>
    <title>Student Help Desk Login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <h1>Student Help Desk Login</h1>
    <div class="login-container">
      <div class="card">
        <div class="card-header">Admin Login</div>
        <div class="card-body">
          <form action="/adminLogin" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required /><br />

            <label for="password">Password:</label>
            <input
              type="password"
              id="password"
              name="adminPass"
              required
            /><br />

            <button type="submit">Login</button>
          </form>
        </div>
      </div>
      <br />
      <div class="card">
        <div class="card-header">Student Login</div>
        <div class="card-body">
          <form action="/login" method="post">
            <label for="rollno">Roll No:</label><br />
            <input type="text" id="rollno" name="rollno" required /><br />

            <label for="password">Password:</label><br />
            <input
              type="password"
              id="password"
              name="password"
              required
            /><br />

            <button type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
