<!DOCTYPE html>
<html>
  <head>
    <title>Student Help Desk Login</title>
    <!-- <link rel="stylesheet" href="/css/login.css" /> -->
    <link rel="stylesheet" href="/css/global.css" />
    <style>
      input {
  width: 100%;

      }
    </style>
  </head>
  <body>
    <nav>
      <img
        src="../assets/kkrlogo.png"
        width="100px"
        height="100px"
        alt="logo"
        style="margin-right: 10px"
      />
      <p>NATIONAL INSTITUTE OF TECHNOLOGY, KURUKSHETRA</p>
    </nav>
    <h2 style="text-align: center;">Student Help Desk Login</h2>
    <div class="flex-container">
      <div class=>
        <h2 class="card-header">Admin Login</h2>
        <div class="card-body">
          <form action="/adminLogin" method="post">
            <label for="username">Username:</label><br />
            <input type="text" id="username" name="username" required /><br />

            <label for="password">Password:</label><br />
            <input
              type="password"
              id="password"
              name="adminPass"
              required
            /><br />

            <button type="submit">Login</button>
          </form>
        </div>
      </div>
      <br />
      <div class=>
        <h2 class="card-header">Student Login</h2>
        <div class="card-body">
          <form action="/login" method="post">
            <label for="rollno">Roll No:</label><br />
            <input type="text" id="rollno" name="rollno" required /><br />

            <label for="password">Password:</label><br />
            <input
              type="password"
              id="password"
              name="password"
              required
            /><br />

            <button type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
