<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>reappear forms</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/rf.css" />
  </head>

  <body>
    <nav>
      <img
        src="/assets/kkrlogo.png"
        width="100px"
        height="100px"
        alt="logo"
        style="margin-right: 10px"
      />
      <p>NATIONAL INSTITUTE OF TECHNOLOGY KURUKSHETRA</p>
    </nav>
    <form action="/helpdesk/gnlkn/reappear" method="POST">
      <h2>REAPPEAR FORM EXAMINATION FORM(EXTERNAL EXAM ONLY)</h2>
      <hr />
      <div class="radio-container">
        <label for="month"><b>Please select any one</b></label
        ><br />

        <input type="radio" name="month" id="novdec" value="nov/dec" />
        <label for="novdec">Nov-Dec-2023</label>
        <input type="radio" name="month" id="mayjun" value="may/june" />
        <label for="mayjun">May-June-2023</label><br />
      </div>
      <div class="radio-container">
        <label for="studenttype"><b>Student Type</b></label> <br />
        <input type="radio" name="studenttype" id="regular" value="regular" />
        <label for="regular">Regular Student</label>
        <input
          type="radio"
          name="studenttype"
          id="exstudent"
          value="exstudent"
        />
        <label for="exstudent">Ex-Student</label><br />
      </div>

      <label for="roll no">Roll No</label>
      <input
        type="number"
        name="rollno"
        id="roll no"
        placeholder="Enter Your Roll No"
      /><br />
      <label for="email">E-mail</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Enter Your E-mail"
      /><br />

      <h5>COURSE DETAILS[T-THEORY,P-PRACTICAL]</h5>
      <div id="course">
        <table class="table1">
          <thead>
            <tr>
              <th rowspan="2">SEM</th>
              <th colspan="2">COURSE</th>
            </tr>
            <tr>
              <th>NAME</th>
              <th>CODE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>
                <input type="text" name="name1" id="name" />
              </td>
              <td>
                <input type="text" name="code1" id="name" />
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>
                <input type="text" name="name2" id="name" />
              </td>
              <td>
                <input type="text" name="code2" id="name" />
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>
                <input type="text" name="name3" id="name" />
              </td>
              <td>
                <input type="text" name="code3" id="name" />
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td>
                <input type="text" name="name4" id="name" />
              </td>
              <td>
                <input type="text" name="code4" id="name" />
              </td>
            </tr>
            <tr>
              <td>5</td>
              <td>
                <input type="text" name="name5" id="name" />
              </td>
              <td>
                <input type="text" name="code5" id="name" />
              </td>
            </tr>
            <tr>
              <td>6</td>
              <td>
                <input type="text" name="name6" id="name" />
              </td>
              <td>
                <input type="text" name="code6" id="name" />
              </td>
            </tr>
            <tr>
              <td>7</td>
              <td>
                <input type="text" name="name7" id="name" />
              </td>
              <td>
                <input type="text" name="code7" id="name" />
              </td>
            </tr>
            <tr>
              <td>8</td>
              <td>
                <input type="text" name="name8" id="name" />
              </td>
              <td>
                <input type="text" name="code8" id="name" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <h5>EXAMINATION FEE DETAILS</h5>
      <div id="exam">
        <table class="table2">
          <thead>
            <tr>
              <th colspan="4" id="ef">EXAMINATION FEE</th>
            </tr>
            <tr>
              <th colspan="2">REGULAR</th>
              <th colspan="2">EX-STUDENT</th>
            </tr>
            <tr>
              <th>Normal Fee</th>
              <th>With Late Fee</th>
              <th>Normal Fee</th>
              <th>With Late Fee</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Rs 300/- per sem</td>
              <td>Rs 500/- per sem</td>
              <td>Rs 1000/- per course</td>
              <td>Rs 1500/- per course</td>
            </tr>
          </tbody>
        </table>
      </div>

      <p id="payment">
        For Payment
        <a id="sbi" href="https://www.onlinesbi.sbi/sbicollect/icollecthome.htm"
          >Click Here</a
        >
      </p>
      <br />

      <label for="rs">Examination Fee Paid in Rs.</label>
      <input
        type="text"
        name="rs"
        id="rs"
        placeholder="Amount in Ruppees"
      /><br />
      <label for="refno">Payment Reference No.</label>
      <input
        type="text"
        name="refno"
        id="refno"
        placeholder="Enter Ref No."
      /><br />
      <label for="date">Payment Date</label>
      <input type="date" name="date" id="date" /><br />

      <label for="payment">Upload Payment Receipt</label>
      <input type="file" name="payment" id="payment" /><br />
      <label for="id">Upload ID Card</label>
      <input type="file" name="idcard" id="id" /><br />
      <label for="sign">Upload Signature of the Student</label>
      <input type="file" name="sign" id="sign" /><br />

      <div class="checkbox-container">
        <input type="checkbox" name="info is correct" id="correct" required />
        <label for="correct"
          >I hereby declare that all the above particulars filled by me are
          correct and that in case of any discrepancy found therein subsequently
          at any stage, i shall be responsible for the consequences out from
          there.</label
        ><br />
      </div>
      <div class="form-buttons">
        <button type="button" onclick="window.history.back();">Back</button>
        <button type="reset">reset</button>
        <button type="submit">submit</button><br />
      </div>
    </form>
  </body>
</html>
