<!DOCTYPE html>
<html>
  <head>
    <title>Thank You</title>
    <link rel="stylesheet" href="/css/global.css" />
  </head>
  <body>
    <div class="container">
      <h1 style="color: #008000">Thank You!</h1>
      <p>Your request has been submitted and will be processed soon.</p>
      <a href="/helpdesk/djfn">
        <button>Go to Home</button>
      </a>
    </div>
  </body>
</html>
