<!DOCTYPE html>
<html>
  <head>
    <title>Card Example</title>
  </head>
  <body>
    <div class="card">
      <h3>Transcript</h3>
      <div class="card-info">
        <span>Roll No:</span><%- request.rollno %><br />
        <span>Issue:</span><%- request.issue %><br />
        <span>Email:</span><%- request.email %><br />
        <span>Date:</span><%- request.date %>
      </div>
    </div>
    <script>
      const card = document.querySelector(".card");
      const cardInfo = document.querySelector(".card-info");

      card.addEventListener("click", () => {
        card.classList.toggle("card-expanded");
        cardInfo.classList.toggle("card-info-expanded");
      });
    </script>
  </body>
</html>
