body {
background-image: url("/assets/kkrlogo.png");
background-color: #e8e8e4;
background-position: center;
background-repeat: no-repeat;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

li {
  margin-bottom: 10px;
}



/* button {
  background-color: #FFA500;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #FFFFFF;
  color: #FFA500;
  box-shadow: 2px 2px #000000;
} */
