h1 {
    color: cyan;
    background-color: black;
    text-align: center;
    
    letter-spacing: 10px;
    font-size: 31px;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: palegreen;
}